/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0062be;

}
.header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 8%;
}
.header img{
    margin-top: 2vh;
}
.link{
    display: flex;
    position: relative;
    right: -1%;
    top: 40px;   
}
.link a{
    font-size: 17px;
    padding-right: 50px;
    text-decoration: none;
    position: relative;
    font-weight: 600;
}
.link a:hover{
    transition: 0.7s;
    color: red;
}
.content{
    position: absolute;
    left: 8%;
    top: 49%;
    transform: translateY(-49%);
    width: 70%;
}
.content h1{
    font-size: 65px;
    font-weight: 900; 
    line-height: 85px;
    text-transform: uppercase;
}
span{
    font-size: 115px;
}
.content p{
    margin-top: 5px;
    width: 600px;
    line-height: 24px;
}
.content button{
    background-color: white;
    color: black;
    border: white;
    font-size: 15px;
    letter-spacing: .6px; 
    word-spacing: 2px;
    border-radius: 20px;
    text-transform: uppercase;
    width: 235px;
    font-weight: 550;
    height: 38px;
    margin-top: 25px;
    cursor: pointer;
}
.content button:hover{
    transform: scale3d(1.02,1.02,1.02);
    transition: 1s;
    box-shadow: 0 0 10px white,0 0 20px white;
}
.logo{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-left: 95%;
    margin-top: 36vh;

    
}
.logo img{
    width: 28px;
    margin-bottom: 35px;
    filter: invert(1);

}
.pepsi{
    position: absolute;
    right: 13%;
    top: 20%;
}
.pepsi img{
    width: 250px;
}
.color{
    display: flex;
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
}
.color a img{
    max-width: 80px;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.color a img:hover {
    transform: translateY(-50px);
}




/* Responsive */


@media (max-width:991px){
    .link{
        display: none;
    }
    .header {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 0 4%;
    }
    .content {
        position: absolute;
        left: 8%;
        top: 49%;
        transform: translateY(-49%);
        width: 100%;
    }
    .content h1 {
        font-size: 55px;
        font-weight: 900;
        line-height: 85px;
        text-transform: uppercase;
    }
    .logo {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-left: 96%;
        margin-top: 20vh;
    }
    .logo img {
        width: 20px;
        margin-bottom: 16px;
        filter: invert(1);
    }
    .content {
        position: absolute;
        left: 4%;
        top: 36%;
        width: 100%;
    }
    .content h1 {
        font-size: 40px;
        font-weight: 900;
        line-height: 65px;
        text-transform: uppercase;
    }
    span {
        font-size: 95px;
    }
    .content p {
        margin-top: 0px;
        width: 600px;
        line-height: 14px;
        width: 80%;
        font-size: 12px;;
    }
    .content button {
        background-color: white;
        color: black;
        border: white;
        font-size: 12px;
        letter-spacing: .6px;
        word-spacing: 2px;
        border-radius: 20px;
        text-transform: uppercase;
        width: 165px;
        font-weight: 550;
        height: 28px;
        margin-top: 10px;
    }

    .pepsi img {
        width: 120px;
    }
    .pepsi {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 60%;
    }
    .color {
        display: flex;
        position: fixed;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
    }
}